@use 'variables' as *;

// Mixin para garantir que o estilo vença qualquer resistência
@mixin force-position($top-value) {
    position: fixed !important;
    top: $top-value !important;
    bottom: auto !important; // Reset fundamental
    right: 20px !important;
    left: auto !important;
    z-index: 2147483647 !important;
}

/* 1. V-LIBRAS */
div[vw].enabled {
    @include force-position(50%);
    
    [vw-access-button], .vw-access-button {
        background-color: $color-teal !important; 
        
        img {
            filter: hue-rotate(310deg) saturate(1.5) !important;
        }
    }
}

/* 2. USERWAY */
// Usamos o seletor de ID direto para máxima força no SCSS
#userwayAccessibilityIcon, 
.uai, 
div[id^="userway"] {
    // Se o V-Libras está em 50%, o UserWay precisa estar em ~60%
    @include force-position(60%);
    
    // Filtros de cor
    filter: hue-rotate(310deg) saturate(1.5) brightness(1.1) !important;
}

/* 2. USERWAY */
#userwayAccessibilityIcon, 
.uai,
userway-accessibility-widget,
div[id^="userway"] {
    // Força o elemento a ficar por cima do carrossel/mapa, sem mexer no top/left
    z-index: 2147483647 !important;
    
    // Seu filtro de cores personalizado
    filter: hue-rotate(310deg) saturate(1.5) brightness(1.1) !important;
}

/* 3. RESPONSIVO */
@media (max-width: 768px) {
    #userwayAccessibilityIcon, div[id^="userway"], userway-accessibility-widget {
        transform: scale(0.8) !important;
    }
}