// Fontes oficiais
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Open Sans', sans-serif;
$font-accessible: 'Atkinson Hyperlegible', sans-serif;

// Cores da Paleta Oficial
$color-purple: #540D6E; // Principal (Roxo)
$color-pink: #EE4266;   // Destaque (Rosa)
$color-yellow: #FFD23F; // Alerta/Destaque (Amarelo)
$color-teal: #3BCEAC;   // Secundária (Ciano/Verde água)
$color-green: #0EAD69;  // Sucesso (Verde)
$color-orange: #FF751F; // Atenção (Laranja)

$color-dark: #333;
$color-white: #fff;
$color-bg-light: #F4F4F4;