// Fontes oficiais
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Open Sans', sans-serif;
$font-accessible: 'Atkinson Hyperlegible', sans-serif;

// Cores da Paleta Oficial
$color-purple: #44025c; // Principal (Roxo)
$color-pink: #b40096;   // Destaque (Rosa)
$color-yellow: #FFD23F; // Alerta/Destaque (Amarelo)
$color-teal: #028264;   // Secundária (Ciano/Verde água)
$color-green: #007844;  // Sucesso (Verde)
$color-orange: #FF751F; // Atenção (Laranja)

$color-dark: #000000;
$color-white: #fff;
$color-grey: #cbcbcb;
$color-bg-light: #F4F4F4;